<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Application</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.sex}"></td>
        <td>
            <a th:href="@{/index/{id}/delete(id=${user.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<form form th:action="@{/index}" th:object="${user}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}"><br>

    <label>Age</label>
    <input type="text" th:field="*{age}"><br>

    <label>Sex</label>
    <input type="text" th:field="*{sex}"><br>

    <button type="submit">Save</button>
</form>
</body>
</html>
